<%= simple_form_for(@recipe) do |f| %>
    <%= f.association :category, collection: Category.order(:name), label: "Catégorie" %>
    <%#= f.association :category, collection: Category.all(order: 'name') %>
    <%= f.input :name, label: "Nom de la recette", placeholder: "Tarte au Chocolat Amer" %>
    <%= f.input :prep_time, label: "Temps de préparation", placeholder: "15min préparation + 40min cuisson" %>
    <%= f.input :people, label: "Nombre de personnes (optionnel)" %>
    <%= f.input :ingredients_list, label: "Ingrédients", placeholder:
"150g de farine
100mL de lait
1/2 sachet de levure
1CS de sucre roux
1cc de cacao" %>
    <%= f.input :preparation, label: "Préparation", placeholder: "Préchauffer le four à 180°C." %>
    <%= f.input :author, label: "Auteur", input_html: {value: current_user.first_name } %>
    <%#= f.input :author, label: "Auteur", value: current_user.first_name %>
    <%#= f.input :author, label: "Auteur", placeholder: "Catherine, Martine, Caroline, Laure, Delphine, Céline, Cécile, Fanny" %>
    <%= f.input :source, label: "Source de la recette (optionnel)" %>
    <%= f.input :photo, as: :file %>

    <div>
      <%= f.button :submit, 'Sauvegarder', class: 'btn btn-primary' %>
      <%= link_to 'Annuler', :back, class: 'btn btn-danger' %>
    </div>
<% end %>
