<div class="recipe-whole-card">
  <%= link_to recipe_path(recipe) do %>
    <div class="recipe-full-card">
      <div class="recipe-image">
        <% if recipe.photo.attached? %>
        <%= cl_image_tag recipe.photo.key %>
        <% else %>
        <%= cl_image_tag("placeholder_gysyia") %>
        <% end %>
      </div>
      <div class="recipe-details">
        <h2 id="recipe-name"><%= recipe.name %></h2>
        <p id="recipe-author">de <%= recipe.author %></p>
        <p id="recipe-prep-time"><%= recipe.prep_time %></p>
      </div>
    </div>
  <% end %>
</div>


